
+/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q,  s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
 height: 100%;
 width: 100%;
 padding: 0;
 margin: 0;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom:1;
}

/* Main Styling */

body {
  background-color: #C5E7EA;
  opacity: .85;
}

header {
  background-color: #2d2c72;
  opacity: .85;
  height: 180px;
  z-index: 5000;
  overflow: hidden;
  position: relative;   

  -webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.5);
}

header:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 35px;
  border-bottom: 1px dotted white; 
  opacity: .85;
}

.the, .owl {
  font-family: 'Exo', sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 55px;
}

span.owl {
  position: relative;
  bottom: 84px;
  left: 156px;
}

span.superb {
  font-family: 'Miss Fajardose', cursive;
  font-size: 115px;
  color: white;
  margin-left: 55px; 
}

.header-img {
  position: absolute;
  top: 15px;
  left: 295px;
  width: 95px;
  display: inline-block;
}

.header-img > img {
  max-width: 100%;
}

div#container.clearfix {
 margin: 35px 0px 10px 35px;
 max-width: 100%;
 text-align: center;
}

div.art {
  display: inline-block;
}

div#circle {
 width: 300px; 
 height: 275px;
 border-radius: 50%; 
 background:#fff;
 color: #676767;
 font-family: 'Exo', sans-serif;
 font-size: 15px;
 padding-top: 15px;
 padding-bottom: 10px;
 margin: 0 auto;
 margin-top: 100px;
 text-align: center;
 
  -webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.5);
}

.about {
 padding-top: 25px;
 padding-bottom: 10px;
}

footer {
 background-color: #2d2c72;
 font-family: 'Exo', sans-serif;
 font-size: 15px;
 padding-top: 20px;
 color: white;
 opacity: .85;
 height: 60px;   /* Height of the footer */
 text-align: center;
}

footer > p {
 display: inline;
 margin-right: 125px;
}

p.contact {
 display: inline-block;
}

span.design { 
}

span.email {
 padding-left: 100px;
}

span.phone {
 padding-left: 100px;
}
